@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  background: white;
  color: black;
}

.btn {
  @apply bg-yellow-700 text-white py-1.5 px-2.5 text-sm rounded;
  &:disabled {
    @apply bg-gray-300 text-gray-500;
  }
}
